Repository Diamondlord/zero2prod, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, tests, actions, config, source

.github/labeler.yml:

dependencies:
  - 'cargo.*'
tests:
  - 'tests/*'
  - 'tests/**/*'
actions:
  - '.github/workflows/*'
config:
  - 'configuration/*'
source:
  - 'src/*'
  - 'src/**/*'

add new status column and migration
  migrations/20210403074510_add_status_to_subscriptions.sql
  migrations/20210403141054_make_status_not_null_in_subscriptions.sql
  src/routes/subscriptions.rs
Labels: source

add new table
  migrations/20210403143756_create_subscription_tokens_table.sql
Labels: none

lock labeler
  .github/workflows/labeler.yml
Labels: actions

test-labeler-still-working
  Cargo.toml
  src/domain/new_subscriber.rs
Labels: source

add prerequisites
  README.md
Labels: none

add email server mock
  tests/api/helpers.rs
Labels: tests

send email confirmation and tests
  src/email_client.rs
  src/routes/subscriptions.rs
  src/test_remove_later/test.md
  tests/api/subscriptions.rs
Labels: tests, source

formatting
  src/routes/subscriptions.rs
  tests/api/helpers.rs
  tests/api/subscriptions.rs
Labels: tests, source

ci(sqlx-data.json): update after migration
  .github/workflows/CI.yml
  sqlx-data.json
Labels: actions

play with CI
  .github/workflows/CI.yml
  scripts/init_db.sh
Labels: actions

test ci
  .github/workflows/CI.yml
Labels: actions

add confirmation link - basic
  .github/workflows/CI.yml
  Cargo.lock
  Cargo.toml
  scripts/init_db.sh
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Labels: tests, actions, source

refactor confirmation
  src/routes/subscriptions.rs
Labels: source

update dependencies
  .github/workflows/audit-on-push.yml
  Cargo.lock
  Cargo.toml
  src/startup.rs
Labels: actions, source
